<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/Layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:h="http://www.w3.org/1999/xhtml">
<body>
<div layout:fragment="content">
    <!--
    <div th:each="user : ${users}" th:remove="tag">
         <span th:text="${user.Id}"> </span>
         <span th:each="role : ${user.roles}" th:remove="tag">
            <span th:text="${role.role}"></span>
         </span>
    </div>
    -->

    <!--
    <div sec:authorize="isAuthenticated()">
        <th:block th:with="roles=${#authentication.getAuthorities()}">
            <th:block th:each="role : ${roles}">
                <span th:text="${role}"></span>
            </th:block>
        </th:block>
        <span sec:authorize="hasAuthority('ADMIN')">dasdasfsdfsdf</span>
    </div>
    -->

    <!--Image slider -->


    <!-- Two Column Section -->
    <div class="container-fluid padding">
        <div class="row padding">
            <div class="col-lg-6">
                <h2>CROWD FUNDING PLATFORM</h2>
            </div>
        </div>
    </div>

</div>
</body>
</html>